* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #101010; 
  }
  
  
  body {
    background-color: #EAEAEA;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .container {
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
  }
  
  .main-content {
    flex: 1;
    padding: 20px 0;
    width: 100%;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    outline: none;
  }
  @media (max-width: 768px) {
    .cart-content {
      flex-direction: column;
    }
    
    .products-grid {
        display: grid;
        gap: 20px; /* Поля между элементами */
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Адаптивное количество колонок */
      }
  }
  
  @media (max-width: 576px) {
    .cart-item {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .cart-item-actions {
      width: 100%;
      justify-content: space-between;
      margin-top: 15px;
    }
    
    .cart-item-info {
      margin: 15px 0;
    }
    
    .footer-container {
      flex-direction: column;
      gap: 20px;
    }

    .products-grid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Для мобильных устройств */
      }
  }
